Dados/df_rj_lat_long.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2020_Parte1_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2020_Parte2_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2021_Parte1_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2021_Parte2_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2022_Parte1_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2022_Parte2_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2023_Parte1_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2023_Parte2_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2024_Parte1_24ago2024.csv
Dados/Covid2/HIST_PAINEL_COVIDBR_2024_Parte2_24ago2024.csv
Dados/covid.csv
